// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Jquery-UI
//@import '~jquery-ui/themes/base/all.css';

.form-group.required label:before {
	content:"*";
	color:red;
}

.form-group {
	
	.required {
		
		label {
			
			&:before {
				content: "*";
				color: red;
			}
		}
	}
	
}

.jumbotron {
	padding: 2rem 2rem;
}

.nav {
	margin-bottom: 20px;
	
	.nav-link {
		
		&.active{
			color: red;
		}
	}
}

.form-row {
	position: relative;
	
	.loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		opacity: 0.5;
		z-index: 10;
		
		.spinner-border {
			position: relative;
			top: 50%;
			left: 50%;
		}
	}
}

.no-results {
	text-align: center;
}


