<template>
    <div class="col-lg-12">
        <line-chart :chart-data="datacollection" :height="200"></line-chart>
    </div>
</template>

<script>
    import LineChart from './LineChart.js'

    export default {
        components: {
            LineChart
        },

        props: {
            propResults : {
                type: Array,
                required: true
            }
        },

        data () {
            return {
                datacollection: {}
            }
        },
        mounted () {

            // after mounting component, try to fill with data
            this.fillData()

        },
        methods: {
            fillData () {

                var datasetDates = [];
                var datasetOpen  = [];
                var datasetClose = [];

                _.forEach(this.propResults, function(dateData) {
                    var date       = _.get(dateData, 'date');
                    var openValue  = _.get(dateData, 'open');
                    var closeValue = _.get(dateData, 'close');

                    // if all info is here, then add each value to accoriding dataset
                    if (date !== '' && openValue !== '' && closeValue !== '') {
                        datasetDates.push(date);
                        datasetOpen.push(openValue);
                        datasetClose.push(closeValue);
                    }
                });

                if (datasetDates.length > 0 && datasetOpen.length > 0 && datasetClose.length > 0) {

                    // prepare data for line chart

                    this.datacollection = {
                        labels: datasetDates,
                        datasets: [
                            {
                                label: 'Open',
                                borderColor: '#3aa3f8',
                                data: datasetOpen
                            }, {
                                label: 'Close',
                                borderColor: '#f85a54',
                                data: datasetClose
                            }
                        ]
                    };

                }
            }
        }
    }
</script>