<template>
    <nav class="nav">
        <a class="nav-link" v-for="tab in tabs"
           :key="tab"
           :class="{'active': activeTab == tab }"
           @click="showTab(tab)">{{ tab }}</a>

    </nav>
</template>

<script>
    export default {
        name: "BasicTabs",

        props: ['value'],

        data() {
            return {
                tabs: [
                    'Form',
                    'Table',
                    'Chart'
                ],
                activeTab: 'Form'
            };
        },

        methods: {

            showTab: function (selectedTab) {
                this.activeTab = selectedTab;
                this.$emit('input', this.activeTab);
            }

        }
    }
</script>